/*..... Generelle regler ....... */

#hero_knap span {
  text-decoration: none;
}
#gul_boks {
  margin-bottom: -40px;
}

body {
  background-color: black;
}

#colophon .site-info {
  display: none;
}

.widget-area {
  display: none;
}

.content-wrapper {
  margin-top: -2.5rem;
}

img {
  width: 100%;
  height: auto;
}

.entry-content a {
  text-decoration: underline;
  color: white;
}

button {
  text-align: center;
  background-color: #f74a5a;
  background-image: none;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  color: black;
  border: none;
  border-radius: 5px;

  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  cursor: pointer;
  transition: 250ms ease;
  align-self: center;
  margin-bottom: 2rem;
}

button:hover {
  background-color: #333;
}

.botiga-offcanvas-menu .main-navigation .sub-menu.toggled {
  padding-left: 2rem;
}

/*..... Generelt slut ....... */

/*..... breadcrumb ....... */
.breadcrumb {
  margin-left: 2rem;
  padding: 10px 16px;
  text-align: left;
  margin-top: 3rem;
}

.breadcrumb li {
  list-style: none;
  text-decoration: none;
  display: inline;
  font-size: 1rem;
  color: #f74a5a;
}

ul.breadcrumb li a {
  text-decoration: underline;
  color: #f74a5a;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #f74a5a;
  content: ">";
}

/*..... breadcrumb slut ....... */

/*..... Splash ....... */
.splash_container {
  background-image: url(img/sneakers_splash.jpg);
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash_content {
  display: grid;
  padding-left: 4rem;
  padding-top: 4rem;
}

.splash_content,
#h1_splash,
.pris_splash h2 {
  grid-area: 1/1;
}

.splash_content h2 {
  grid-area: 1/1;
  line-height: 2rem;
  color: orange;
  text-align: left;
}

#h1_splash {
  place-self: center left;
  letter-spacing: 4px;
  font-weight: 700;
  color: #ffcc2a;
}

#h1_splash {
  color: white;
}

.pris_splash {
  display: flex;
  gap: 2rem;
  justify-content: left;
}

#button_splash {
  text-align: center;
  background-color: #f74a5a;
  background-image: none;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  color: black;
  border: none;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  cursor: pointer;
  transition: 250ms ease;
  align-self: center;
  max-width: 130px;
  width: 100%;
  border-radius: 10px;
}

.knap_midte {
  text-align: left;
}

#tidligere {
  color: #333;
  text-decoration: line-through;
  font-size: 1.3rem;
}
#nu {
  color: black;
  font-size: 1.3rem;
}

/*..... Splash slut ....... */

/*..... Dropdown loopview  ....... */

.dropbtn {
  text-align: center;
  background-color: #f74a5a;
  background-image: none;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  color: black;
  border: none;
  cursor: pointer;
  transition: 250ms ease;
  align-self: center;
  margin: 0;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content li {
  list-style-type: none;
  padding: 10px;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
  background-color: #333;
  color: white;
}

.block {
  display: block;
}

/*..... Dropdown loopview slut ....... */

/*..... Singleview ....... */

.pris {
  color: white;
}

h4 {
  color: white;
  font-size: 1rem;
}

#container {
  display: flex;
}

#number {
  border: 1px solid white;
  padding-left: 20px;
  padding-right: 20px;
  height: 36px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
}

#up {
  border-radius: 0px 5px 5px 0px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  margin-right: 3rem;

  text-align: center;
  background-color: #f74a5a;
  background-image: none;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  color: black;
  border: none;

  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  cursor: pointer;
  transition: 250ms ease;
  align-self: center;
}
#ned {
  border-radius: 5px 0px 0px 5px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;

  text-align: center;
  background-color: #f74a5a;
  background-image: none;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  color: black;
  border: none;

  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  cursor: pointer;
  transition: 250ms ease;
  align-self: center;
}

#produkt_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ui {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

#h2_lignende {
  text-align: center;
  color: #ffcc2a;
  font-size: 1.3rem;
  margin-top: 7rem;
}

#oplysninger {
  text-align: center;
  color: #ffcc2a;
  font-size: 1.3rem;
}

#produkt_oplysninger {
  text-align: center;
}

.beskrivelse {
  color: white;
  margin-bottom: 3rem;
}

.pris_single {
  color: #ffcc2a;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.beskrivelse_dropdown {
  color: white;
  margin-inline: 10%;
}

#single_navn {
  color: #ffcc2a;
  text-align: center;
  font-size: 1.5rem;
}

.produkt_detaljer div {
  width: 23px;
  height: 5px;
  margin: 5px;
  background-color: #ffcc2a;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.line2 {
  transform: rotate(90deg) translate(0px, 33px);
}

h4 {
  color: #ffcc2a;
  font-size: 1.3rem;
}

#oplysninger_section {
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.produkt_detaljer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

/*..... Singleview slut ....... */

/*..... Loopview ....... */

.produkt_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.produkt_oversigt {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5rem;
  padding: 10px;
  margin-top: 7rem;
}

#andre_produkter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5rem;
}

.produkter {
  cursor: pointer;
  transition: ease-in 0.3s;
  padding: 10px;
}
.produkter h4 {
  color: white;
  font-size: 1rem;
}

.produkter:hover {
  background-color: #333;
  transform: translateY(-10px);
}

.lignende_produkter {
  cursor: pointer;
  transition: ease-in 0.3s;
  padding: 10px;
}

.lignende_produkter:hover {
  background-color: #333;
  transform: translateY(-10px);
}

/*..... Loopview slut ....... */

/*..... Andet ....... */

.back-to-top.position-right {
  right: 30px;
  background-color: #f74a5a;
  transition: 0.3s ease-in;
}

.back-to-top:hover {
  background-color: #333;
  scale: 1.15;
}

/*..... Andet slut ....... */

/*..... Burgermenu ....... */

#primary-menu a {
  color: #ffcc2a;
}

.ws-svg-icon svg:not(.stroke-based) {
  fill: #ffcc2a;
}
/*..... Burgermenu slut ....... */

/*..... Footer ....... */

.some_logo {
	display: flex;
	gap: 1.1rem;
}
.some_logo img {
   width: 2rem;
  height: 2rem;
  background-size: cover;
  transition: all 0.3s;
}

.some_logo img:hover {
  transform: scale(1.3);
}

#footer {
  padding-left: 3rem;
  line-height: 1rem;
  background-color: black;
}

#footer h3 {
  color: white;
  text-align: center;
  padding-right: 3rem;
}

#footer p {
  color: white;
}

.information {
  margin-top: 4rem;
}
.information p {
  text-decoration: underline white;
}
.information:hover {
  color: yellow;
}

.nyhedsbrev {
  margin-top: 4rem;
}

input[type="text"],
select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  text-align: center;
  background-color: #f74a5a;
  background-image: none;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  color: black;
  border: none;
  border-radius: 5px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  cursor: pointer;
  transition: 250ms ease;
  align-self: center;
  margin-bottom: 2rem;
}
input[type="submit"]:hover {
  background-color: #333;
}

/*..... Footer slut ....... */

/*..... @media ....... */

@media (min-width: 900px) {
  #footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    line-height: 0;
    margin-bottom: 6rem;
  }
  .nyhedsbrev {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .information {
    grid-column: 2/3;
    grid-row: 1;
    padding-top: 0;
    margin-top: 0;
    padding-left: 5rem;
  }
  .information h3 {
    margin-bottom: 3rem;
  }

  .oplysninger {
    grid-column: 1/2;
  }
  .oplysninger h3 {
    margin-bottom: 3rem;
  }

  #footer h3 {
    text-align: left;
  }

  .splash_content {
    display: grid;
    padding-left: 4rem;
    padding-top: 2rem;
    margin-left: auto;
    width: 44%;
  }

  .pris_splash {
    font-size: 1.3rem;
  }

  .splash_content h1 {
    font-size: 2.5rem;
  }

  .produkt_img {
    width: 100%;
    height: auto;
  }

  .contaioner_form {
    margin-top: 1.3rem;
  }
}

@media (min-width: 1250px) {
  /*..... Singleview desktop....... */

  #single {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #produkt_img {
    grid-column: 1;
    grid-row: 1/4;
    padding-top: 5rem;
  }

  #single_navn {
    grid-column: 2;
    font-size: 2rem;
    text-align: left;
    margin-bottom: -3rem;
  }

  #produkt_img {
    width: 100%;
    height: auto;
  }

  .pris_single {
    grid-column: 2/3;
    text-align: left;
    margin-bottom: -6rem;
  }

  .beskrivelse {
    margin-bottom: 6rem;
  }

  .ui {
    grid-column: 2/3;
    grid-row: 4;
    justify-content: left;
    margin-top: -7rem;
  }

  #oplysninger_section {
    margin-top: 4rem;
  }
}

@media (min-width: 1500px) {
  #footer {
    max-width: 1200px;
    margin: auto;
  }
}

/*..... @media slut ....... */
